nav{
    display: flex;
    align-items: center;
    background: black;
    padding: 20px 80x;
    justify-content: space-between;
    box-sizing: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: dark blue;
  transition: 0.3s ease-in-out;  
}

#navbar li a:hover{
  color: white;
}

#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 20px;
}